:host {
  .searchgroup {
    width: 300px;
  }

  .divider {
    --p-divider-horizontal-margin: 0.5rem 0;
    --p-divider-horizontal-padding: 0 0.5rem;
  }

  .chip:hover {
    cursor: pointer;
  }

  /*  .kategorie {
      font-size: 0.75rem;
    }*/

  .dataview-content {
    --p-dataview-content-padding: 16px;
  }

  .dataviewheader {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }

  .btn-wrapper {
    justify-self: flex-end;
    display: flex;
    gap: 1rem;

  }
}
