:host {
  .searchgroup {
    width: 300px;
  }

  .zeilenwrapper {
    display: flex;
    justify-content: center;
  }

  .divider {
    --p-divider-horizontal-margin: 0.5rem 0;
    --p-divider-horizontal-padding: 0 0.5rem;
  }

  .chip:hover {
    cursor: pointer;
  }

  .image {
    border-radius: var(--p-border-radius-sm);
    width: 12rem;
    height: 12rem;
  }

  .kategorie {
    font-size: 0.75rem;
  }

  .dataview-content {
    --p-dataview-content-padding: 16px;
  }

  .dataviewheader {
    display: grid;
    justify-content: flex-end;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }

  .listen-zeile {
    max-width: 800px;
    display: grid;
    grid-template-columns: 250px 1fr 200px;
    min-width: 300px;
    width: 800px;
    justify-items: stretch;
  }

  .currency-only {
    display: grid;
    height: 100%;
    align-items: center;
  }

  .btn-wrapper {
    justify-self: flex-end;
    display: flex;
    gap: 1rem;

  }

  .currency-only span {
    font-size: 1.2rem;
  }

  .image-wrapper {
    height: 8rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
