/* You can add global styles to this file, and also import other style files */

.main-drawer {
  --p-drawer-content-padding: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.drawer-menu.p-menu {
  border: 0;
}

.flex {
  display: flex;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
